body {
    background-color: #fcba03;
}

img {
    width: 450px;

}

h1 {
    background-color: orange;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

/* Attempt to specify selectors in Ingredient */

div.ingredients {
    font-size: 25px;
    color: green;
}

.scallop-potatoe .ingredients {
    color: red
}
